<!-- <p>
  {{firstName}} {{lastName}}
</p>
<div>
 <input type="number" [(ngModel)]="age" /> Age : {{age}} <button (click)="incrementAge()">Increment age</button>
</div> -->
<button (click)="switchFormulaire()">Switch formulaire</button>
<div *ngIf="displayForm; else elseForm">
  <div><input [(ngModel)]="firstName" placeholder="Your FirstName" /></div>
  <div><input [(ngModel)]="lastName" placeholder="Your LastName" /></div>
  <div><input [(ngModel)]="email" placeholder="Your Email" /></div>
  <div><button (click)="confirmAllInformation()">Confirm</button></div>
</div>
<ng-template #elseForm>
  <div>Information : {{allInformation}}</div>
</ng-template>
