<ion-app>
  <ion-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <!-- Ajouter des liens vers les composants -->
          <ion-router-link href="/" >Demo</ion-router-link>
        </ion-col>
        <ion-col>
          <ion-router-link href="/bis" >Demo bis</ion-router-link>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-header>
  <ion-content>
    <!-- Emplacement du chargement des composants en fonction de l'url -->
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
  
</ion-app>